<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>564260874317-ddscc6pbd7ekdrffl899q3f6jmf4jdkm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.564260874317-ddscc6pbd7ekdrffl899q3f6jmf4jdkm</string>
	<key>API_KEY</key>
	<string>AIzaSyA147OspBFnQbTa1-RfzPsKNGOjunAUHPo</string>
	<key>GCM_SENDER_ID</key>
	<string>564260874317</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wimes.mSNS-iOS</string>
	<key>PROJECT_ID</key>
	<string>msns-d1b67</string>
	<key>STORAGE_BUCKET</key>
	<string>msns-d1b67.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:564260874317:ios:ee4a9ce7eb1cc982f65404</string>
	<key>DATABASE_URL</key>
	<string>https://msns-d1b67.firebaseio.com</string>
</dict>
</plist>